<div class=" makeme card text-center p-3 mb-2  text-emphasis-info border-primary">
<div class="container">
  <div class ="card-header">

<h2>Edit <%= resource_name.to_s.humanize %> Details </h2>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>



  <div class="field">
  <br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control",placeholder:"Email-ID*"%>
  </div>
 <br>
<div class="field">
    
   <%= f.text_field :name ,class:"form-control",placeholder:"Name"%>
 </div> 
<br>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
 <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password",class:"form-control",placeholder:"New Password" %>
    <% if @minimum_password_length %>
    
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
<br>
  <div class="field">
<br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"form-control",placeholder:"Confirm Password"%>
  </div>
<br>
  <div class="field">
  <br><%= f.password_field :current_password, autocomplete: "current-password" , class:"form-control",placeholder:"Current Password*"%>
  <i style="text-align:left; justify-content:left;font-align:left;">(we need your current password to confirm your changes)</i><br />
  </div>
<br>
<div style="text-align:left;">
<em ><b>Upload Profile Picture</b></em></div>
  <div class="class">
   
  <%= f.file_field :profile_image ,class:"form-control",placeholder:"upload Profile Picture"%>
 

  </div>
<br>
  <div class="actions d-grid gap-2">
    <button class="btn btn-lg btn-outline-success ">
    <%= f.submit "Update" %>
    </button>
  </div>
<% end %>
<br>

<h3>Cancel my account</h3>

<div>Unhappy? yes delete <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete ,class: "btn btn-lg btn-outline-danger"%></div>
<br>
<hr>
<%= link_to "HOME", :back %>
</div>
</div>