
<br><div class ="card border-info mb-5">
<div class="container">
    <br>
    <br>

      
        <% if @user.profile_image.attached? %>
        <p><em><b>Profile Image</b></em></p>
            <%= image_tag url_for(@user.profile_image) %>
        <% else %>
        <p><em><b>Default Profile Image</b></em></p>
            <%= image_tag "default_image.jpg" ,class:"card img-thumbnail rounded d-block img-fluid",style:"height:200px;"%>
        <%end%>
 

<br>
    <div class="card-title">
        <h2 style="color:rgb(3, 37, 4)">User Name:</h2><h3 style="color:rgb(76, 192, 82)"> <%= @user.name %></h3>
    </div>
    <br>
<div class ="card-title">
<h2 style="color:rgb(1, 26, 2)">User Email: </h2><h3 style="color:rgb(84, 217, 89)"><%=@user.email%></h3>
</div>
<br>
<h3>Number of views on your User Profile: </h3>
<h5 style="color:rgb(84, 217, 89)"><%= pluralize(@user.views,"view" )%></h5>

<br>
<h3>
    <%= "you have added #{@user.comments.where(post_id: @post_id).count} comment(s) on this post." %>
</h3>
<br>

<%=
          link_to "  Back to posts" , posts_path , class:"btn btn-lg btn-outline-warning fa-solid fa-backward" %>
          <br >
<br>
</div>
</div>
