

<div id="<%= dom_id post %>">

<div class="container">
<div class=" card text-center p-3 mb-2 bg-info-subtle text-emphasis-info border-success">
  <p style="text-align:left;font-size:1.6rem;">
    <strong class="intro", style="font-size:1.5rem">Title:  </strong>
    <%= post.title %>

  </p>

  <div style="text-align:left;font-size:1.3rem">    
  <strong class="intro", style="font-size:1.5rem">Body:   </strong>
    <%= post.body %>
  </div>
  <br>
  
  <p><h6 style="border:2px dotted cyan;:20px"><%= pluralize(post.view,"view") %></h6>
    <h6>Posted by: <%= link_to post.user.email,user_path(post.user) %></h6>
    </p>
</div>
</div>
</div>