<p style="color: green">
  <%= notice %>
</p>
<div class=" indexview card text-center p-3 mb-2  text-emphasis-info border-info glass3">
  <div class="container ">
    <div class="card-header jumbotron">
      <br>
      <h1>All Posts <i class="fa-thin fa-face-awesome"></i></h1>
      <br>

    </div>
    <br>
    
    <div id="posts">
      <% @posts.each do |post| %>
        <%= render post , post_body: post.body.truncate(150)%>
        <div class="heart">
  
          <p>Likes: <%= post.likes_count %></p>
               <%= button_to 'Like this Post', like_post_path(post), method: :put, id: "like-button-#{post.id}", data: { controller: "likepost", action: "click->likepost#likeme" } ,class:"btn btn-outline-dark"%>
        </div>

          <!-- <% if current_user %>
            <br>
            <%= render 'posts/like_count' , post: post %>
              <%= render 'posts/upvote_link' , post: post %>


                <% end %> -->


                  <p>
                    <%= link_to "  Show this post" , post, class:"btn btn-lg btn-outline-info fa-regular fa-eye" %>
                  </p>
                  <% end %>
    </div>
    <br>
    <div class="pagination justify-content-center">
      <%= paginate @posts %>

    </div>
    <br>

    <div class="d-grid gap-2">
      <%= link_to "  New post" , new_post_path, class:"btn btn-lg btn-outline-primary fa-solid fa-pen " %>
</div>
</div>

