<br />
<div class="container glass2">
  <br />
  <%= render @post %> <% if @post.avatar? %>
  <div class="container card text-center">
    <%= image_tag (@post.avatar.url) ,alt: 'Post Image'%>
  </div>
  <%end %>
  <br />

  <h6 class="text-center">
    <br />
    <%= pluralize(@post.comments.distinct.count(:user_id), 'user' ) %> commented
    on this Post.
  </h6>
  <br />
  <div class="container text-center ">
  <p>Likes: <%= @post.likes_count %></p>
  <br />

  <%= button_to "Like This Post", like_post_path(@post),id: 'like_post_pls', data: {
  post_id: @post.id }, method: :put, remote: true, class: "like-button btn btn-dark" %>
  <br />
</div>
  <br />
  <div class="text-center">
    <% if current_user && (can? :edit ,@post)%> <%= link_to " Edit this post" ,
    edit_post_path(@post) , class:"btn btn-lg btn-outline-dark fa-regular
    fa-pen-to-square"%> | <%end%> <%= link_to " Back to posts" , posts_path ,
    class:"btn btn-lg btn-outline-warning fa-solid fa-backward" %>
    <br />
    <br />
  </div>
</div>
<br />
<h1 class="text-center" ,style="text-color:white"><b> ✉ Comments</b></h1>
<div class="container glass2">
  <br />
  <% if current_user%> <%= render 'comments/form' , post: @post,comment:
  @post.comments.build ,submit_label: "Reply" %> <%end%>
  <br />

  <% if @comments.any? %> <% @comments.order(created_at: :desc).first(5).each do
  |comment| %> <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
  <div class="pagination justify-content-center"><%= paginate @comments %></div>
  <% else %>
  <p>No comments yet.</p>
  <!-- <p> <a href="".style="text-decoration:none;">SignUp</a> Now & Do comments..!</p> -->
  <% end %>
</div>
<br /><br />
<div class="contaier justify-content-right">
  <div class="container d-flex d-grid gap-5" ,style="justify-content:right">
    <a href="#comehere">
      <button
        class="btn btn-outline-primary share-icon btn-lg rounded-pill fa fa-circle-up"
      ></button>
    </a>
  </div>
</div>

<!-- ajax implementation -->

<script>
  $(document).ready(function () {
    $("#like_post_pls").on("click", function () {
      // Get the post ID from the data attribute
      debugger;
      var postId = $(this).data("post-id");

      $.ajax({
        url: "/posts/" + postId + "/like",
        type: "post",
        data: { like_id: true },
        beforeSend: function (xhr) {
          xhr.setRequestHeader(
            "X-CSRF-Token",
            $('meta[name="csrf-token"]').attr("content")
          );
        },
        success: function (data) {
          debugger;
          // Update the likes count on a successful AJAX call
          console.log("AJAX request succeeded");
          document.getElementById("likes-count").textContent = data.likes_count;
        },
        error: function (error) {
          // debugger

          // Log the error details for debugging
          console.log("AJAX request failed");
          console.log(error);
        },
      });
    });
  });
</script>
