<br />
<div class="container glass2">
  <br />
  <%= render @post %> <% if @post.avatar? %>
  <div class="container card text-center">
    <%= image_tag (@post.avatar.url) ,alt: 'Post Image'%>
  </div>
  <%end %>
  <br />

  <h6 class="text-center">
    <br />
    <%= pluralize(@post.comments.distinct.count(:user_id), 'user' ) %> commented
    on this Post.
  </h6>

  <br />
  <div class="text-center">
    <% if current_user && (can? :edit ,@post)%> <%= link_to " Edit this post" ,
    edit_post_path(@post) , class:"btn btn-lg btn-outline-dark fa-regular
    fa-pen-to-square"%> | <%end%> <%= link_to " Back to posts" , posts_path ,
    class:"btn btn-lg btn-outline-warning fa-solid fa-backward" %>
    <br />
    <br />
  </div>
</div>
<br />
<h1 class="text-center" ,style="text-color:white"><b> ✉ Comments</b></h1>
<div class="container glass2">
  <br />
  <% if current_user%> <%= render 'comments/form' , post: @post,comment:
  @post.comments.build ,submit_label: "Reply" %> <%end%>
  <br />

  <% if @comments.any? %> <% @comments.order(created_at: :desc).first(5).each do
  |comment| %> <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
  <div class="pagination justify-content-center"><%= paginate @comments %></div>
  <% else %>
  <p>No comments yet.</p>
  <!-- <p> <a href="".style="text-decoration:none;">SignUp</a> Now & Do comments..!</p> -->
  <% end %>
</div>
<br /><br />
<div class="contaier justify-content-right">
  <div class="container d-flex d-grid gap-5" ,style="justify-content:right">
    <a href="#comehere">
      <button
        class="btn btn-outline-primary share-icon btn-lg rounded-pill fa fa-circle-up"
      ></button>
    </a>
  </div>
</div>
