<p style="color: green"><%= notice %></p>
<div class="container">
<%= render @post %>
<br>
<br>
<div>
  <%= link_to "Edit this post", edit_post_path(@post)   , class:"btn btn-lg btn-outline-dark"%>   |  
  <%= link_to "Back to posts", posts_path , class:"btn btn-lg btn-outline-warning" %>
<br>
<br>
  <%= button_to "Delete this post", @post, method: :delete , class:"btn btn-lg btn-outline-danger"%>
</div>
</div>